<div class="container">
  <div class="signup__container center">
    <h1 class="flex-start">Go Fish</h1>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="" placeholder="Enter your name">
      <div class="row mt-8">
        <button class="signup__container--button" type="button" name="button">Go</button>
      </div>
    </form>
  </div>
</div>
