@import '_normalize';
@import '_layout';
@import '_utility';
@import '_lobby';
@import '_game';


/******** BASE /********/
body {
  background: #555;
  font-family: 'Arial', sans-serif ;
}

input {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 24px;
  padding: 4px;
  width: 80%;
}

button {
  // background: #555;
  // border: 1px solid #ddd;
  // color: #fff;
  // font-size: 24px;
  // padding: 12px 50px;
}

h1 {
  font-size: 48px;
  padding: 12px;
}

form {
  width: 100%;
}

.app-header {
  background: #555;
  color: #fff;
  text-align: center;
}

.signup__container {
  margin-top: 50px;
}

.signup__container--button {
  margin: 0 auto;
}
